<header>
    <nav class="navbar">
        <a href="/">
            <div class="logo">
                <img src="/image/logo3.png">
            </div>
            </a>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/admin/admin_product_list">Product List</a></li>
            <li><a href="/user">User List</a></li>
            <li><a href="/logout">Logout</a></li>
            
        </ul>
    </nav>
</header>