<header>
    <nav class="navbar">
        <a href="/admin_home">
            <div class="logo">
                <img src="/image/logo3.png">
            </div>
            </a>
        <ul class="nav-links">
            <li><a href="/admin_home">Home</a></li>
            {{!-- <li><a href="/employee">Employee</a></li>
            <li><a href="/category">Category</a></li>
            <li><a href="/admin/admin_product_list">Products</a></li>
            <li><a href="/pending_products">Pending Products</a></li>
            <li><a href="/user_list">Users</a></li>
            <li><a href="/seller_list">Sellers</a></li> --}}
            {{{custom_header}}}
            <li><a href="/adminLogout">Logout</a></li>
            
        </ul>
    </nav>
</header>