<header>
    <nav class="navbar">
        <a href="/pending_product_list">
            <div class="logo">
                <img src="/image/logo3.png">
            </div>
            </a>
        <ul class="nav-links">
            <li><a href="/pending_product_list">Pending Products</a></li>
            <li><a href="/rejected_product_list">Rejected Products</a></li>
            <li><a href="/approved_product_list">Approved Products</a></li>
            {{!-- <li><a href="/admin/admin_product_list">Product List</a></li>
            <li><a href="/user">User List</a></li> --}}
            <li><a href="/adminLogout">Logout</a></li>
            
        </ul>
    </nav>
</header>