<header>
    <nav class="navbar">
        <a href="/seller_home">
            <div class="logo">
                <img src="/image/logo3.png">
            </div>
            </a>
        <ul class="nav-links">
            <li><a href="/seller_home">Home</a></li>
            {{!-- <li><a href="/seller_product">Product</a></li> --}}
            <li><a href="/upload_product">Upload Product</a></li>
            
            <li><a href="/seller/product_list">Product List</a></li>
            <li><a href="/seller_allorders">Orders</a></li>

            {{!-- <li><a href="/admin/admin_product_list">Product List</a></li>
            <li><a href="/user">User List</a></li> --}}
            <li><a href="/seller_editprofile">Edit Profile</a></li>
            <li><a href="/sellerLogout">Logout</a></li>
            
        </ul>
    </nav>
</header>