<header>
    <nav class="navbar">
        <a href="/admin/admin_user_list">
            <div class="logo">
                <img src="/image/logo3.png">
            </div>
            </a>
        <ul class="nav-links">
            <li><a href="/admin/admin_user_list">Users</a></li>
            <li><a href="/admin/seller_list">Sellers</a></li>
            {{!-- <li><a href="/admin/admin_product_list">Product List</a></li>
            <li><a href="/user">User List</a></li> --}}
            <li><a href="/adminLogout">Logout</a></li>
            
        </ul>
    </nav>
</header>